[user]
	email = felix.friedrich@on.com
	name = Felix Friedrich
	signingkey = 757E7593B808090E
[core]
	excludesFile = ~/.gitignore_global
[alias]
	s = status -s # -s, --short  show status concisely
	b = branch
	c = diff --cached
	co = checkout
	rebaster = "! git fetch && git rebase origin/$(git branch -l master main | xargs)"
	pb = "! git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)" # push branch
	pr = "! git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD) 2>&1 | ack 'pull/new' | awk '{print $2}' | xargs open -u"
	l = log --pretty=oneline
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	vim = "! vim $(git diff --name-only)"
	swap = "!GIT_SEQUENCE_EDITOR=\"sed -i -n 'h;1n;2p;g;p'\" git rebase -i HEAD~2"
	cb = "!git fetch --quiet; git checkout $(git branch -l master main | xargs) --quiet; for BRANCH in $(git branch --format '%(refname:short)' | grep -v master); do git branch --quiet -d $BRANCH; done"  # clean branches
	uncommit = reset --soft HEAD~1
	m = "!git status --untracked-files=no . | grep modified | cut -d ' ' -f 4"
	pm = "!git checkout master && git pull && git checkout -"
	p = pull -r
	ca = commit --amend
	openchanged = "!code $(git diff --name-only $(git branch -l master main | xargs))"
	changed = "!git diff --name-only $(git branch -l master main | xargs)"
	cob = "!git co -b $(uuidgen | cut -d '-' -f 1)"
	todo = "!git diff $(git branch -l master main | xargs) --unified=0 | grep TODO"
[commit]
	gpgsign = true
[pager]
	branch = false
	# diff = false
[merge]
	ff = only
[diff "sopsdiffer"]
	textconv = sops --decrypt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
