[user]
	email = felix.friedrich@deliveryhero.com
	name = Felix Friedrich
	signingkey = 74784680FE9CA7AB
[alias]
	s = status
	b = branch
	c = diff --cached
	co = checkout
	rebaster = !git fetch && git rebase origin/master
	pr = "! $(git push 2>&1 | ack "git push" | xargs)"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	swap = "!GIT_SEQUENCE_EDITOR=\"sed -i -n 'h;1n;2p;g;p'\" git rebase -i HEAD~2"
	cb = "!git fetch --quiet; git checkout master --quiet; for BRANCH in $(git branch --format '%(refname:short)' | grep -v master); do git branch --quiet -d $BRANCH; done"  # clean branches
	uncommit = reset --soft HEAD~1
	m = "!git status --untracked-files=no . | grep modified | cut -d ' ' -f 4"
	p = pull -r
[commit]
	gpgsign = true
[pager]
	branch = false
	# diff = false
[merge]
	ff = only
