[user]
	email = felix.friedrich@deliveryhero.com
	name = Felix Friedrich
	signingkey = 757E7593B808090E
[core]
	excludesFile = ~/.gitignore_global
[alias]
	s = status
	b = branch
	c = diff --cached
	co = checkout
	rebaster = !git fetch && git rebase origin/master
	pr = "! git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD) 2>&1 | ack 'pull/new' | awk '{print $2}' | xargs open -u"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	swap = "!GIT_SEQUENCE_EDITOR=\"sed -i -n 'h;1n;2p;g;p'\" git rebase -i HEAD~2"
	cb = "!git fetch --quiet; git checkout master --quiet; for BRANCH in $(git branch --format '%(refname:short)' | grep -v master); do git branch --quiet -d $BRANCH; done"  # clean branches
	uncommit = reset --soft HEAD~1
	m = "!git status --untracked-files=no . | grep modified | cut -d ' ' -f 4"
	pm = "!git checkout master && git pull && git checkout -"
	p = pull -r
	ca = commit --amend
	openchanged = "!code $(git diff --name-only master)"
	changed = "!git diff --name-only master"
	cob = "!git co -b $(uuidgen | cut -d '-' -f 1)"
[commit]
	gpgsign = true
[pager]
	branch = false
	# diff = false
[merge]
	ff = only
[diff "sopsdiffer"]
	textconv = sops --decrypt
